{% extends 'base.html.twig' %}

{% block title %}New Image{% endblock %}

{% block body %}
    <h1>Create new Image</h1>

    {{ include('image/_form.html.twig') }}

    <a href="{{ path('image_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/dropzone.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/dropzone.css') }}">
{% endblock %}
