<!Doctype html>
<html>
<head>
</head>
<body>

<table class="table">
    <tr>
        <th>Bien ciblé</th>
        <td><a href="#">{{ contact }}</a></td>
    </tr>
    <tr>
        <th>Nom du client</th>
        <td>{{ contact.name }}</td>
    </tr>
    <tr>
        <th>Téléphone du client</th>
        <td>{{ contact.phone }}</td>
    </tr>
    <tr>
        <th>Email du client</th>
        <td>{{ contact.email }}</td>
    </tr>
</table>
</body>
</html>